openapi: 3.0.0
info:
  title: 2020 HMIS
  version: "1.0.5"
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://www.hslynk.com/hmis-clientapi/rest/v2020'
paths:
  /clients:
    get:
      responses:
        '200':
          description: OK   Everything is working
          content:
            application/json:
               schema:
                  example:
                    Clients:
                      pagination:
                        from: 0
                        returned: 3
                        total: 30
                        maximum: 30
                        sort: {}
                      clients:
                        - clientId: 3a93fe32-8118-4883-982f-a267435856de
                          dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
                          firstName: Taylor
                          middleName: Robin
                          lastName: Steve
                          nameSuffix: 'TS                                                '
                          nameDataQuality: 2
                          ssn: 123-45-6789
                          ssnDataQuality: 2
                          dob: 1473746618394
                          dobDataQuality: 9
                          race: 2
                          ethnicity: 99
                          gender: 2
                          veteranStatus: '99'
                        - clientId: bb1c4869-52af-4b4f-a9b6-a48f93c35294
                          dedupClientId: 46b89200-656a-11e8-985f-02fe61f826e
                          firstName: 'First Name'
                          middleName: 'Middle Name'
                          lastName: 'LAST NAME'
                          nameSuffix: 'NS'
                          nameDataQuality: 1
                          ssn: '123-45-6789'
                          ssnDataQuality: 1
                          dob: 1459517834983
                          dobDataQuality: 1
                          race: 1
                          ethnicity: 1
                          gender: 1
                          otherGender: Test
                          veteranStatus: '8'
                          phoneNumber: 1-541-754-3010
                          emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for client.  Returns a list of client ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients
      parameters:
      - name: startIndex
        in: query
        required: true
        schema:
          type: string
          default: "0"
        description: start index
      - name: maxItems
        in: query
        required: true
        schema:
          type: string
          default: "30"
        description: Max items in response
    post:
      responses:
        '200':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  client:
                    clientId: 8547a63e-4659-412f-b5fa-200e03b62ae8
                    dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      operationId: POST_clients
      description: |
                    1)  an SSN value submitted as an empty string (not null) will be treated and stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      requestBody:
        content:
          application/json:
            schema:
              example:
                  client:
                    firstName: First Name
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: 1
                    ssn: 123-45-6789
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: 8
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
  '/clients/{clientId}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
             schema:
                example:
                  client:
                  clientId: 8547a63e-4659-412f-b5fa-200e03b62ae8
                  firstName: 'First Name'
                  middleName: 'Middle Name'
                  lastName: 'LAST NAME'
                  nameSuffix: 'NS'
                  nameDataQuality: 1
                  ssn: '123-45-6789'
                  ssnDataQuality: 1
                  dob: 1459517834983
                  dobDataQuality: 1
                  race: 1
                  ethnicity: 1
                  gender: 1
                  otherGender: Test
                  veteranStatus: '8'
                  phoneNumber: 1-541-754-3010
                  emailAddress: Jeanette@gmail.com
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a client using a URI resource parameter/ID.
      operationId: GET_clients-clientId
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: |
                    Updates a specific client specified by the URI resource parameter/ID.
                    1)  an SSN value submitted as an empty string (not null) will be treated and stored by HSLynk as a nullified/deleted SSN data element
                    2) a full 9 digit SSN may be submitted
                    3) a partial SSN may be submitted, but one or more lower case 'x'(s) must be present in the locations of the missing actual SSN digits.
      operationId: PUT_clients-clientId
      requestBody:
        content:
          application/json:
              schema:
                example:
                  client:
                    firstName: First Name
                    middleName: Middle Name
                    lastName: LAST NAME
                    nameSuffix: NS
                    nameDataQuality: 1
                    ssn: 123-45-6789
                    ssnDataQuality: 1
                    dob: 1459517834983
                    dobDataQuality: 1
                    race: 1
                    ethnicity: 1
                    gender: 1
                    otherGender: Test
                    veteranStatus: 8
                    phoneNumber: 1-541-754-3010
                    emailAddress: Jeanette@gmail.com
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific client specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientId
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
          default: "00ba9b0a-bf0a-411f-9ad3-56194beb9e8a"
        description: Client Identifier
  '/clients/{clientId}/history':
   get:
    responses:
      '200':
        description: OK   Everything is working
        content:
          application/json:
             schema:
                example:
                  Clients:
                    pagination:
                      from: 0
                      returned: 3
                      total: 30
                      maximum: 30
                      sort: {}
                    clients:
                      - clientId: 3a93fe32-8118-4883-982f-a267435856de
                        dedupClientId: 46b89200-656a-11e8-985f-02fe61f7863e
                        firstName: Taylor
                        middleName: Robin
                        lastName: Steve
                        nameSuffix: 'TS                                                '
                        nameDataQuality: 2
                        ssn: 123-45-6789
                        ssnDataQuality: 2
                        dob: 1473746618394
                        dobDataQuality: 9
                        race: 2
                        ethnicity: 99
                        gender: 2
                        veteranStatus: '99'
                      - clientId: bb1c4869-52af-4b4f-a9b6-a48f93c35294
                        dedupClientId: 46b89200-656a-11e8-985f-02fe61f826e
                        firstName: 'First Name'
                        middleName: 'Middle Name'
                        lastName: 'LAST NAME'
                        nameSuffix: 'NS'
                        nameDataQuality: 1
                        ssn: '123-45-6789'
                        ssnDataQuality: 1
                        dob: 1459517834983
                        dobDataQuality: 1
                        race: 1
                        ethnicity: 1
                        gender: 1
                        otherGender: Test
                        veteranStatus: '8'
                        phoneNumber: 1-541-754-3010
                        emailAddress: Jeanette@gmail.com
      '400':
        description: Bad Request   The request was invalid or cannot be served.
      '403':
        description: >-
          Forbidden   The server understood the request, but is refusing it or
          the access is not allowed.
      '404':
        description: Not found   There is no resource behind the URI.
      '500':
        description: Internal Server Error
    description: >-
      Searches for client history.  Returns a list of client ids history, based on the query
      parameters sent.  The query parameters are cumulative, so each
      additional query parameter narrows the search down further.
    operationId: GET_clients_clientId_history
    parameters:
    - name: startIndex
      in: query
      required: true
      schema:
        type: string
        default: "0"
      description: start index
    - name: maxItems
      in: query
      required: true
      schema:
        type: string
        default: "30"
      description: Max items in response
    - name: clientId
      in: path
      required: true
      schema:
        type: string
        format: "uuid"
        default: "00ba9b0a-bf0a-411f-9ad3-56194beb9e8a"
      description: Client Identifier
  '/clients/{clientId}/enrollments':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                  example:
                    enrollments:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollments:
                        - enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                          disablingCondition: 0
                          entryDate: 1459517941736
                          householdId: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                          housingStatus: 3
                          monthsHomelessPastThreeYears: 7
                          otherResidencePrior: '1'
                          relationshipToHoh: 2
                          residencePrior: 2
                          residencePriorLengthOfStay: 4
                          timesHomelessPastThreeYears: 1
                          yearsHomeless: 0
                          entryFromStreetEssh: 1
                          dateCreated: 05-13-2020
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollment.  Returns a list of enrollment ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollment:
                    - enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollment
      operationId: POST_clients-clientId-enrollments
      requestBody:
        content:
          application/json:
            schema:
                example:
                  enrollment:
                    continuouslyHomelessOneYear: 1
                    disablingCondition: 0
                    entryDate: 1459517941736
                    householdId: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                    housingStatus: 3
                    monthsHomelessPastThreeYears: 7
                    monthsHomelessThisTime: 1
                    otherResidencePrior: '1'
                    personalId: ba0ce84a-412e-4f3b-ae93-b903eb349754
                    projectEntryId: a70b3fe4-1e0f-4288-835f-d88dacd2b84c
                    projectId: 5958e1b7-0296-4821-b183-ae9967217579
                    relationshipToHoh: 2
                    residencePrior: 2
                    residencePriorLengthOfStay: 4
                    statusDocumented: 1
                    timesHomelessPastThreeYears: 1
                    yearsHomeless: 2
                    entryFromStreetEssh: 2
                    dateToStreetEssh: 1
        required: true
    parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
          default: "00ba9b0a-bf0a-411f-9ad3-56194beb9e8a"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}':
    get:
      parameters:
      - name: includeChildLinks
        in: query
        required: false
        schema:
          type: boolean
        description: >-
          To include enrollment child entity links in the response this flag must be set true. default value of this flag is false. The enrollment child entity links, will be grouped by dataCollectionStage and then infromationDate or updatedDate (if informationDate is not available). If dataCollectionStage is not available child entity links will be categorized as unassgined
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
             schema:
              example:
                enrollment:
                  enrollmentId: 03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113
                  entryLinks:
                    rhsps:
                      unspecified_stage:
                        2018-09-23T18:48:
                        - data:
                          - rel: 03c66d96-72b9-49c9-bcb2-388053fb8e74
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/03c66d96-72b9-49c9-bcb2-388053fb8e74"
                          - rel: 3591939e-8adc-417c-8aad-386e85f87551
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/3591939e-8adc-417c-8aad-386e85f87551"
                          groupBy: dateUpdated
                        2018-09-23T19:56:
                        - data:
                          - rel: f340d9c5-c5d1-44f6-b407-9c91da9b9ef9
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/f340d9c5-c5d1-44f6-b407-9c91da9b9ef9"
                          - rel: 924e4746-4c1a-41cf-a0ed-d3177b9cc23d
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/924e4746-4c1a-41cf-a0ed-d3177b9cc23d"
                          groupBy: dateUpdated
                        2018-09-25T09:50:
                        - data:
                          - rel: d80ac82c-0030-4e34-bd43-0332dc5af5c0
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/d80ac82c-0030-4e34-bd43-0332dc5af5c0"
                          - rel: 0bab25d1-cff7-4a57-8c30-f7b258af6143
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/0bab25d1-cff7-4a57-8c30-f7b258af6143"
                          groupBy: dateUpdated
                        2018-09-25T09:51:
                        - data:
                          - rel: a47aee4e-8584-432a-b790-31be3a4e1409
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/a47aee4e-8584-432a-b790-31be3a4e1409"
                          - rel: 0e5f52b9-e24e-43d9-a34d-9ef691b3b5c8
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/0e5f52b9-e24e-43d9-a34d-9ef691b3b5c8"
                          - rel: 112571c2-356c-4224-a844-310525f97201
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/112571c2-356c-4224-a844-310525f97201"
                          - rel: 0a7fae66-1283-4cd9-8341-8606c90b26ee
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhsps/0a7fae66-1283-4cd9-8341-8606c90b26ee"
                          groupBy: dateUpdated
                    entryrhys:
                      '1':
                        2018-09-23T19:56:
                        - data:
                          - rel: 66015eca-afa7-4f3f-a499-389c737339e3
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/66015eca-afa7-4f3f-a499-389c737339e3"
                          groupBy: dateUpdated
                        2018-11-14T12:10:
                        - data:
                          - rel: b2462907-9ae5-4209-827d-e56ebb3631c7
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/b2462907-9ae5-4209-827d-e56ebb3631c7"
                          groupBy: informationDate
                        2018-11-17T12:09:
                        - data:
                          - rel: 025b18af-d096-4b2e-9aec-f36d2a2435d3
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/025b18af-d096-4b2e-9aec-f36d2a2435d3"
                          - rel: 7a47384f-d5e0-4c11-be33-2477bf0e9de4
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/7a47384f-d5e0-4c11-be33-2477bf0e9de4"
                          groupBy: submissionDate
                        2018-11-20T12:09:
                        - data:
                          - rel: 5be632ee-8ba1-4bc6-b947-158963269eab
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/5be632ee-8ba1-4bc6-b947-158963269eab"
                          groupBy: informationDate
                      '2':
                        2018-09-23T18:48:
                        - data:
                          - rel: e686d4cb-78cf-4642-bcf6-7be27e1d714c
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/e686d4cb-78cf-4642-bcf6-7be27e1d714c"
                          groupBy: dateUpdated
                        2018-11-14T12:10:
                        - data:
                          - rel: 904623af-08c5-47f9-b034-bf3a6b82d646
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/904623af-08c5-47f9-b034-bf3a6b82d646"
                          groupBy: informationDate
                        2018-11-17T12:09:
                        - data:
                          - rel: 6e541341-a2e4-40e7-8d89-0037a45095d4
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/6e541341-a2e4-40e7-8d89-0037a45095d4"
                          groupBy: submissionDate
                      '3':
                        2018-11-20T12:09:
                        - data:
                          - rel: b817a545-1998-4377-9648-0b55828fdb8b
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/b817a545-1998-4377-9648-0b55828fdb8b"
                          groupBy: informationDate
                      unspecified_stage:
                        2018-09-25T09:51:
                        - data:
                          - rel: 2e9ece93-d935-4489-8440-42230f05e999
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryrhys/2e9ece93-d935-4489-8440-42230f05e999"
                          groupBy: dateUpdated
                    entryssvfs:
                      unspecified_stage:
                        2018-09-23T19:56:
                        - data:
                          - rel: 190094ed-a0a6-4210-bc0b-bbb73e53c0b8
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/190094ed-a0a6-4210-bc0b-bbb73e53c0b8"
                          - rel: 93038b0f-a916-43cd-9a5c-7cb544e96749
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/93038b0f-a916-43cd-9a5c-7cb544e96749"
                          groupBy: dateUpdated
                        2018-09-25T09:50:
                        - data:
                          - rel: d05e4b34-b561-4630-b960-474b05dbeeec
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/d05e4b34-b561-4630-b960-474b05dbeeec"
                          - rel: 2e772c46-cf20-4916-a6d0-cb00e3aa70af
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/2e772c46-cf20-4916-a6d0-cb00e3aa70af"
                          groupBy: dateUpdated
                        2018-09-25T09:51:
                        - data:
                          - rel: 99362cc3-8c14-4869-8895-b647d922d36b
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/99362cc3-8c14-4869-8895-b647d922d36b"
                          - rel: 62c37373-02e9-4247-9388-7f62e169ce8a
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/62c37373-02e9-4247-9388-7f62e169ce8a"
                          - rel: d94df8a9-9eba-49c2-8f89-43aa2249ee3c
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/d94df8a9-9eba-49c2-8f89-43aa2249ee3c"
                          - rel: ebc3baa6-64dc-4741-b440-dae2047907d0
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/entryssvfs/ebc3baa6-64dc-4741-b440-dae2047907d0"
                          groupBy: dateUpdated
                  enrollmentLinks:
                    educations:
                      '1':
                        2018-11-13T00:17:
                        - data:
                          - rel: 3130d17b-c60a-473c-99f9-83e6886a9b7d
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/3130d17b-c60a-473c-99f9-83e6886a9b7d"
                          groupBy: submissionDate
                        - data:
                          - rel: dcaba5a8-3fc9-48c1-93c8-ba2c3631a27a
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/dcaba5a8-3fc9-48c1-93c8-ba2c3631a27a"
                          groupBy: informationDate
                        2018-11-15T23:01:
                        - data:
                          - rel: 7736581e-db33-4fb3-b2c9-19bfd32c5b51
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/7736581e-db33-4fb3-b2c9-19bfd32c5b51"
                          groupBy: dateUpdated
                      unspecified_stage:
                        2018-11-13T00:17:
                        - data:
                          - rel: fa3dfcc0-4e2e-4ee6-b4d0-ef083e1ee0b9
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/fa3dfcc0-4e2e-4ee6-b4d0-ef083e1ee0b9"
                          groupBy: submissionDate
                        - data:
                          - rel: 1da16c18-e507-41dc-9eba-5c61acb00b45
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/1da16c18-e507-41dc-9eba-5c61acb00b45"
                          groupBy: informationDate
                        2018-11-15T23:01:
                        - data:
                          - rel: 1bd7018e-f919-461f-982e-5f5c049d5896
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/educations/1bd7018e-f919-461f-982e-5f5c049d5896"
                          groupBy: dateUpdated
                    dateOfEngagements:
                      unspecified_stage:
                        2018-09-25T09:51:
                        - data:
                          - rel: 40e7b72d-d265-4dd1-84c2-d900f5cbc5c1
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/dateofengagements/40e7b72d-d265-4dd1-84c2-d900f5cbc5c1"
                          - rel: 55c85e93-d131-46c1-8529-ed17005f1d24
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/dateofengagements/55c85e93-d131-46c1-8529-ed17005f1d24"
                          groupBy: dateUpdated
                    disabilities:
                      '1':
                        0009-11-04T00:00:
                        - data:
                          - rel: de33b981-f68d-418f-a303-eb0840091e42
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/disabilities/de33b981-f68d-418f-a303-eb0840091e42"
                          - rel: 66af571c-5c97-4ceb-b781-b87dcc9d7174
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/disabilities/66af571c-5c97-4ceb-b781-b87dcc9d7174"
                          groupBy: informationDate
                      '2':
                        2018-11-17T12:07:
                        - data:
                          - rel: ed7bbf2a-fae4-40cb-806e-b46bd5a2ec56
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/disabilities/ed7bbf2a-fae4-40cb-806e-b46bd5a2ec56"
                          - rel: 4ff222c3-9bb7-4d72-bb06-40b1c1fba304
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/disabilities/4ff222c3-9bb7-4d72-bb06-40b1c1fba304"
                          groupBy: submissionDate
                    domesticViolences:
                      unspecified_stage:
                        2018-01-08T00:00:
                        - data:
                          - rel: 6ac472ec-bad7-4cb7-b60a-8e237bea1d0d
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/domesticviolences/6ac472ec-bad7-4cb7-b60a-8e237bea1d0d"
                          - rel: 1929cc50-5c5c-45b5-8dac-56747bb03c8e
                            href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/domesticviolences/1929cc50-5c5c-45b5-8dac-56747bb03c8e"
                          groupBy: informationDate
                  exitLinks:
                    unspecified_stage:
                      2018-09-25T09:50:
                      - data:
                        - rel: 28e48aec-82e0-48ff-918b-493825cdea18
                          href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/28e48aec-82e0-48ff-918b-493825cdea18"
                          exitHousingAssessments:
                            unspecified_stage:
                              2018-09-25T09:50:
                              - data:
                                - rel: 2cd01b48-c7e8-4e2a-90ff-144174c60757
                                  href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/28e48aec-82e0-48ff-918b-493825cdea18/exithousingassessments/2cd01b48-c7e8-4e2a-90ff-144174c60757"
                                groupBy: dateUpdated
                        groupBy: dateUpdated
                      2018-09-25T09:51:
                      - data:
                        - rel: 3ed58fa0-b406-4ee0-86ad-32de911407ad
                          href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/3ed58fa0-b406-4ee0-86ad-32de911407ad"
                          exitHousingAssessments:
                            unspecified_stage:
                              2018-09-25T09:51:
                              - data:
                                - rel: 3bdb1ef3-52e4-4bf7-b492-2a7afb600d47
                                  href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/3ed58fa0-b406-4ee0-86ad-32de911407ad/exithousingassessments/3bdb1ef3-52e4-4bf7-b492-2a7afb600d47"
                                groupBy: dateUpdated
                        - rel: 473f41ca-4a77-491f-aec8-a9765dff9012
                          href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/473f41ca-4a77-491f-aec8-a9765dff9012"
                          exitHousingAssessments:
                            unspecified_stage:
                              2018-09-25T09:51:
                              - data:
                                - rel: 099359fe-36a3-4d09-9029-35c4b6938e58
                                  href: "/hmis-clientapi/rest/v2020/clients/00ba9b0a-bf0a-411f-9ad3-56194beb9e8a/enrollments/03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113/exits/473f41ca-4a77-491f-aec8-a9765dff9012/exithousingassessments/099359fe-36a3-4d09-9029-35c4b6938e58"
                                groupBy: dateUpdated
                        groupBy: dateUpdated
                  dateCreated: '2018-09-23'
                  dateUpdated: '2018-09-23'
                  disablingCondition: 1
                  entryDate: -19799999
                  monthsHomelessPastThreeYears: 101
                  projectId: 5958e1b7-0296-4821-b183-ae9967217579
                  timesHomelessPastThreeYears: 1
                  yearsHomeless: 0
                  losUnderThreshold: 1
                  previousStreetESSH: 1

        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollment using a URI resource parameter/ID.
      operationId: GET_clients-clientId-enrollments-enrollmentId
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientId-enrollments-enrollmentId
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollment:
                    continuouslyhomelessoneyear: 1
                    disablingCondition: 0
                    entryDate: 1459517941736
                    householdId: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                    housingStatus: 3
                    monthsHomelessPastThreeYears: 7
                    monthsHomelessThisTime: 1
                    otherResidencePrior: '1'
                    personalId: ba0ce84a-412e-4f3b-ae93-b903eb349754
                    projectEntryId: a70b3fe4-1e0f-4288-835f-d88dacd2b84c
                    projectId: 5958e1b7-0296-4821-b183-ae9967217579
                    relationshipToHoh: 2
                    residencePrior: 2
                    residencePriorLengthOfStay: 4
                    statusDocumented: 1
                    timesHomelessPastThreeYears: 1
                    yearsHomeless: 2
                    entryFromStreetEssh: 2
                    dateToStreetEssh: 1
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollment specified by the URI resource
        parameter/ID.
      operationId: DELETE_clients-clientId-enrollments-enrollmentId
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
          default: "03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
          default: "00ba9b0a-bf0a-411f-9ad3-56194beb9e8a"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/history':
   get:
    responses:
      '200':
        description: OK   Everything is working.
        content:
          application/json:
            schema:
                example:
                  enrollments:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    enrollments:
                      - enrollmentId: cc1da849-b877-4455-ab44-84bdb9991f97
                        disablingCondition: 0
                        entryDate: 1459517941736
                        householdId: eca19be3-303b-47b0-a9ef-8832ab0fa13d
                        housingStatus: 3
                        monthsHomelessPastThreeYears: 7
                        otherResidencePrior: '1'
                        relationshipToHoh: 2
                        residencePrior: 2
                        residencePriorLengthOfStay: 4
                        timesHomelessPastThreeYears: 1
                        yearsHomeless: 0
                        entryFromStreetEssh: 1
                        dateCreated: 05-13-2020
      '400':
        description: Bad Request   The request was invalid or cannot be served.
      '403':
        description: >-
          Forbidden   The server understood the request, but is refusing it or
          the access is not allowed.
      '404':
        description: Not found   There is no resource behind the URI.
      '500':


        description: Internal Server Error
    description: >-
      Searches for enrollment history.  Returns a list of enrollment ids history, based on the
      query parameters sent.  The query parameters are cumulative, so each
      additional query parameter narrows the search down further.
    operationId: GET_clients-clientId-enrollments-enrollmentId-history
   parameters:
    - name: enrollmentId
      in: path
      required: true
      schema:
        type: string
        format: "uuid"
        default: "03c9fbfc-a3a0-42f4-b304-3f7dc3ad2113"
      description: Enrollment Identifier
    - name: clientId
      in: path
      required: true
      schema:
        type: string
        format: "uuid"
        default: "00ba9b0a-bf0a-411f-9ad3-56194beb9e8a"
      description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/enrollmentcocs':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollmentCocs:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollmentCocs:
                        - enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                          cocCode: Test
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollmentcoc.  Returns a list of enrollmentcoc ids, based
        on the query parameters sent.  The query parameters are cumulative, so
        each additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-enrollmentcocs
    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  enrollmentCoc:
                    enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                    cocCode: 'Test             '
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a enrollmentcoc
      operationId: POST_clients-clientId-enrollments-enrollmentId-enrollmentcocs
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollmentCoc:
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
                    cocCode: Test
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/enrollmentcocs/{enrollmentcocid}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollmentCoc:
                      enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                      cocCode: 'Test             '
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a enrollmentcoc using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientId-enrollments-enrollmentId-enrollmentcocs-enrollmentcocid
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientId-enrollments-enrollmentId-enrollmentcocs-enrollmentcocid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  enrollmentCoc:
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
                    cocCode: Test
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific enrollmentcoc specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientId-enrollments-enrollmentId-enrollmentcocs-enrollmentcocid
    parameters:
      - name: enrollmentcocid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollmentcoc Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/enrollmentcocs/{enrollmentcocid}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    enrollmentCocs:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      enrollmentCocs:
                        - enrollmentCocId: 60071b3a-2625-45b8-aa6e-23e99096b343
                          cocCode: Test
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for enrollmentcoc history.  Returns a list of enrollmentcoc ids history, based
        on the query parameters sent.  The query parameters are cumulative, so
        each additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-enrollmentcocs-enrollmentcocid-history
    parameters:
      - name: enrollmentcocid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollmentcoc Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/educations':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    educations:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      educations:
                        - educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                          lastGradeCompleted: 10
                          schoolStatus: 6
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for education.  Returns a list of education ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-educations

    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  education:
                    educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                    lastGradeCompleted: 10
                    schoolStatus: 6
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a education
      operationId: POST_clients-clientId-enrollments-enrollmentId-educations
      requestBody:
        content:
          application/json:
            example:
              education:
                lastGradeCompleted: 10
                schoolStatus: 6
                dataCollectionStage: 1
                informationDate: 03-17-2016
            schema:
              $ref: '#/components/schemas/education'
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/educations/{educationid}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              example:
                education:
                  educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                  lastGradeCompleted: 10
                  schoolStatus: 6
                  dataCollectionStage: 1
                  informationDate: 03-17-2016
              schema:
                $ref: '#/components/schemas/education_id'
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a education using a URI resource parameter/ID.
      operationId: GET_clients-clientId-enrollments-enrollmentId-educations-educationid
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific education specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientId-enrollments-enrollmentId-educations-educationid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  education:
                    lastGradeCompleted: 10
                    schoolStatus: 6
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific education specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientId-enrollments-enrollmentId-educations-educationid
    parameters:
      - name: educationid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Education Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/educations/{educationid}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    educations:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      educations:
                          educationId: f91547a2-d13b-40a1-a1be-fed415c468a6
                          lastGradeCompleted: 10
                          schoolStatus: 6
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for education history.  Returns a list of education ids history, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-educations-educationid-history
    parameters:
      - name: educationid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Education Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/contacts':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    contacts:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      contacts:
                        - contactId: 169da295-22f9-41d9-b991-ada835b1e123
                          contactLocation: 3
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for contact.  Returns a list of contact ids, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-contacts

    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  contact:
                    contactId: 169da295-22f9-41d9-b991-ada835b1e123
                    contactLocation: 3
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a contact
      operationId: POST_clients-clientId-enrollments-enrollmentId-contacts
      requestBody:
        content:
          application/json:
            schema:
              example:
                  contact:
                    contactLocation: 3
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/contacts/{contactid}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    contact:
                      contactId: 169da295-22f9-41d9-b991-ada835b1e123
                      contactLocation: 3
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a contact using a URI resource parameter/ID.
      operationId: GET_clients-clientId-enrollments-enrollmentId-contacts-contactid
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Updates a specific contact specified by the URI resource parameter/ID.
      operationId: PUT_clients-clientId-enrollments-enrollmentId-contacts-contactid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  contact:
                    contactLocation: 3
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: Deletes a specific contact specified by the URI resource parameter/ID.
      operationId: DELETE_clients-clientId-enrollments-enrollmentId-contacts-contactid
    parameters:
      - name: contactid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Contact Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/contacts/{contactid}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    contacts:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      contacts:
                        - contactId: 169da295-22f9-41d9-b991-ada835b1e123
                          contactLocation: 3
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for contact history.  Returns a list of contact ids history, based on the query
        parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-contacts-contactid-history
    parameters:
      - name: contactid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Contact Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/dateofengagements':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    dateOfEngagements:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      dateOfEngagements:
                        - dateOfEngagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                          dateOfEngagement: '04-07-2020 17:50'
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for dateOfEngagement.  Returns a list of dateOfEngagement ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-dateOfEngagements

    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  dateOfEngagement:
                    dateOfEngagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                    dateOfEngagement: '04-07-2020 17:50'
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a dateOfEngagement
      operationId: POST_clients-clientId-enrollments-enrollmentId-dateOfEngagements
      requestBody:
        content:
          application/json:
            schema:
              example:
                  dateOfEngagement:
                    dateOfEngagement: '04-07-2020 17:50'
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/dateofengagements/{dateOfEngagementid}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    dateOfEngagement:
                      dateOfEngagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                      dateOfEngagement: '04-07-2020 17:50'
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a dateOfEngagement using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientId-enrollments-enrollmentId-dateOfEngagements-dateOfEngagementid
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific dateOfEngagement specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientId-enrollments-enrollmentId-dateOfEngagements-dateOfEngagementid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  dateOfEngagement:
                    dateOfEngagement: '04-07-2020 17:50'
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific dateOfEngagement specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientId-enrollments-enrollmentId-dateOfEngagements-dateOfEngagementid
    parameters:
      - name: dateOfEngagementid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: dateOfEngagement Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/dateofengagements/{dateOfEngagementid}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    dateOfEngagements:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      dateOfEngagements:
                        - dateOfEngagementId: 61d17265-aa9f-4ed2-a146-2a94846f3dd3
                          dateOfEngagement: '04-07-2020 17:50'
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for dateOfEngagement history.  Returns a list of dateOfEngagement ids history,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-dateOfEngagements-dateOfEngagementid-history
    parameters:
      - name: dateOfEngagementid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: dateOfEngagement Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/disabilities':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    disabilitiesList:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      disabilitiesList:
                        - disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                          disabilityType: 6
                          disabilityResponse: -1994754550
                          indefiniteandImpairs: 0
                          documentationOnFile: 0
                          receivingServices: 0
                          pathHowConfirmed: 99
                          pathSmiInformation: 0
                          tCellCountAvailable: 1
                          tCellCount: 2
                          tCellCountSource: '3       '
                          viralLoadAvailable: 4
                          viralLoad: 5
                          viralLoadSource: 'test    '
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for disability.  Returns a list of disability ids, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-disabilities

    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  disabilities:
                    disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                    disabilityType: 6
                    disabilityResponse: -1994754550
                    indefiniteandImpairs: 0
                    documentationOnFile: 0
                    receivingServices: 0
                    pathHowConfirmed: 99
                    pathSmiInformation: 0
                    tCellCountAvailable: 1
                    tCellCount: 2
                    tCellCountSource: '3       '
                    viralLoadAvailable: 4
                    viralLoad: 5
                    viralLoadSource: 'test    '
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a disability
      operationId: POST_clients-clientId-enrollments-enrollmentId-disabilities
      requestBody:
        content:
          application/json:
            schema:
              example:
                  disabilities:
                    disabilityType: 6
                    disabilityResponse: -1994754550
                    documentationOnFile: 0
                    indefiniteandImpairs: 0
                    pathHowConfirmed: 99
                    receivingServices: 0
                    pathSmiInformation: 0
                    tCellCountAvailable: 1
                    tCellCount: 2
                    tCellCountSource: 3
                    viralLoadAvailable: 4
                    viralLoad: 5
                    viralLoadSource: test
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/disabilities/{disabilityid}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    disabilities:
                      disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                      disabilityType: 6
                      disabilityResponse: -1994754550
                      indefiniteandImpairs: 0
                      documentationOnFile: 0
                      receivingServices: 0
                      pathHowConfirmed: 99
                      pathSmiInformation: 0
                      tCellCountAvailable: 1
                      tCellCount: 2
                      tCellCountSource: '3       '
                      viralLoadAvailable: 4
                      viralLoad: 5
                      viralLoadSource: 'test    '
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a disability using a URI resource parameter/ID.
      operationId: GET_clients-clientId-enrollments-enrollmentId-disabilities-disabilityid
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific disability specified by the URI resource
        parameter/ID.
      operationId: PUT_clients-clientId-enrollments-enrollmentId-disabilities-disabilityid
      requestBody:
        content:
          application/json:
            schema:
              example:
                  disabilities:
                    disabilityType: 6
                    disabilityResponse: -1994754550
                    documentationOnFile: 0
                    indefiniteandImpairs: 0
                    pathHowConfirmed: 99
                    receivingServices: 0
                    pathSmiInformation: 0
                    tCellCountAvailable: 1
                    tCellCount: 2
                    tCellCountSource: 3
                    viralLoadAvailable: 4
                    viralLoad: 5
                    viralLoadSource: test
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific disability specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientId-enrollments-enrollmentId-disabilities-disabilityid
    parameters:
      - name: disabilityid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Disability Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/disabilities/{disabilityid}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    disabilitiesList:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      disabilitiesList:
                        - disabilitiesId: afeb939c-72d9-43e8-95e6-045a39843c10
                          disabilityType: 6
                          disabilityResponse: -1994754550
                          indefiniteandImpairs: 0
                          documentationOnFile: 0
                          receivingServices: 0
                          pathHowConfirmed: 99
                          pathSmiInformation: 0
                          tCellCountAvailable: 1
                          tCellCount: 2
                          tCellCountSource: '3       '
                          viralLoadAvailable: 4
                          viralLoad: 5
                          viralLoadSource: 'test    '
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for disability history.  Returns a list of disability ids history, based on the
        query parameters sent.  The query parameters are cumulative, so each
        additional query parameter narrows the search down further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-disabilities-disabilityid-history
    parameters:
      - name: disabilityid
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Disability Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/domesticviolences':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    domesticViolences:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      domesticViolences:
                        - domesticViolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                          domesticViolenceVictim: 9
                          whenOccurred: 8
                          currentlyFleeing: -588416505
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: >-
        Searches for domesticViolence.  Returns a list of domesticViolence ids,
        based on the query parameters sent.  The query parameters are
        cumulative, so each additional query parameter narrows the search down
        further.
      operationId: GET_clients-clientId-enrollments-enrollmentId-domesticViolences

    post:
      responses:
        '201':
          description: OK - New resource has been created.
          content:
            application/json:
              schema:
                example:
                  domesticViolence:
                    domesticViolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                    domesticViolenceVictim: 9
                    whenOccurred: 8
                    currentlyFleeing: -588416505
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            access is not allowed.
        '404':
          description: Not Found   There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: Internal Server Error.
      description: |
        Add a domesticViolence
      operationId: POST_clients-clientId-enrollments-enrollmentId-domesticViolences
      requestBody:
        content:
          application/json:
            schema:
              example:
                  domesticViolence:
                    domesticViolenceVictim: 9
                    whenOccurred: 8
                    currentlyFleeing: -588416505
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        required: true
    parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/domesticviolences/{domesticViolenceId}':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    domesticViolence:
                      domesticViolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                      domesticViolenceVictim: 9
                      whenOccurred: 8
                      currentlyFleeing: -588416505
                      dataCollectionStage: 1
                      informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires an user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error
      description: Gets a domesticViolence using a URI resource parameter/ID.
      operationId: >-
        GET_clients-clientId-enrollments-enrollmentId-domesticViolences-domesticViolenceId
    put:
      responses:
        '200':
          description: OK   Everything is working.
        '304':
          description: Not Modified   The client can use cached data.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires a user.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Updates a specific domesticViolence specified by the URI resource
        parameter/ID.
      operationId: >-
        PUT_clients-clientId-enrollments-enrollmentId-domesticViolences-domesticViolenceId
      requestBody:
        content:
          application/json:
            schema:
              example:
                  domesticViolence:
                    domesticViolenceVictim: 9
                    whenOccurred: 8
                    currentlyFleeing: -588416505
                    dataCollectionStage: 1
                    informationDate: 03-17-2016
        required: true
    delete:
      responses:
        '204':
          description: OK   The resource was successfully deleted.
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '401':
          description: Unauthorized   The request requires user authentication.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
            the access is not allowed.
        '404':
          description: Not found   There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      description: >-
        Deletes a specific domesticViolence specified by the URI resource
        parameter/ID.
      operationId: >-
        DELETE_clients-clientId-enrollments-enrollmentId-domesticViolences-domesticViolenceId
    parameters:
      - name: domesticViolenceId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: domesticViolence Identifier
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Enrollment Identifier
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: "uuid"
        description: Client Identifier
  '/clients/{clientId}/enrollments/{enrollmentId}/domesticviolences/{domesticViolenceId}/history':
    get:
      responses:
        '200':
          description: OK   Everything is working.
          content:
            application/json:
              schema:
                example:
                    domesticViolences:
                      pagination:
                        from: 0
                        returned: 1
                        total: 1
                        maximum: 30
                        sort: {}
                      domesticViolences:
                        - domesticViolenceId: b4dcd92a-4d6c-44bb-bb07-4431ab48e806
                          domesticViolenceVictim: 9
                          whenOccurred: 8
                          currentlyFleeing: -588416505
                          dataCollectionStage: 1
                          informationDate: 03-17-2016
        '400':
          description: Bad Request   The request was invalid or cannot be served.
        '403':
          description: >-
            Forbidden   The server understood the request, but is refusing it or
[...]
